<section id="cta" class="my-10 p-4">
  <div class="relative bg-darkGreen mx-auto px-4 sm:px-6 md:px-8 lg:px-10 xl:px-12 2xl:px-16 py-[3rem] sm:py-[4rem] md:py-[5rem] lg:py-[6rem] xl:py-[7rem] 2xl:py-[8rem] rounded-2xl lg:w-[90%] xl:w-[80%] 2xl:w-[70%] text-white">
    <div class="flex flex-col items-center gap-y-10">
      <h2 class="font-bold text-lg md:text-xl lg:text-2xl xl:text-3xl text-center capitalize leading-tight">
        Join the financial revolution <br class="hidden md:block" /> with Fortune Holders today.
      </h2>
        <a
          href="create"
          class="bg-white py-3 rounded-md w-48 font-semibold text-darkGreen text-center"
          >Get Started</a
        >
      </div>
      <img
          class="bottom-0 left-[3%] absolute w-[2rem] sm:w-[4rem] md:w-[6rem] lg:w-[8rem] xl:w-[10rem]"
          src="/Images/landingCoinRight.svg"
          alt="A coin"
        />
        <img
          class="-top-8 xl:-top-12 2xl:-top-20 right-4 absolute w-[6rem] sm:w-[8rem] md:w-[10rem] lg:w-[12rem] xl:w-[14rem] 2xl:w-[20rem]"
          src="/Images/landingCoinTopRight.svg"
          alt="A coin"
        />
  </div>
</section>
