<!-- Footer -->
<footer class="bg-lightBlack mt-20">
  <div class="px-4 sm:px-6 md:px-8 lg:px-10 xl:px-12 2xl:px-16 py-[3rem] sm:py-[4rem] md:py-[5rem] lg:py-[6rem] xl:py-[7rem] 2xl:py-[8rem]">
    <div class="flex md:flex-row flex-col md:justify-between gap-y-5 md:gap-y-0">
      <div class="bg-white p-2 rounded-md w-fit">
        <img class="w-6 md:w-8 xl:w-10" src="/Images/logo.png" alt="This is the company's logo">
      </div>
      <div class="flex flex-wrap items-center gap-3">
        <input type="email" name="email" id="email" class="bg-[#3C3C43] px-4 py-3 rounded-lg focus:outline-none min-w-[18rem] text-xs placeholder:text-xs md:placeholder:text-sm md:text-sm xl:text-base caret-darkGreen" placeholder="Email">
        <button class="bg-white hover:bg-darkGreen px-3 py-3 rounded-lg min-w-[18rem] font-semibold text-darkGreen hover:text-white text-xs md:text-sm xl:text-base text-center duration-500">Subscribe to newsletter</button>
      </div>
    </div>
    <div class="mt-6 text-white text-xs md:text-sm xl:text-base">
      <div class="flex gap-x-3">
        <a href="/about">About us</a>
        <a href="/faq">FAQs</a>
        <a href="/services">Services</a>
        <a href="/contact">Contact us</a>
        <a href="/legal" target="_blank">Legal</a>
      </div>
      <p class="mt-2"><strong>Company Address:</strong> Anton-Jahn-Gasse 9 Gießhübl, , NÖ 2372 AUT.</p>
      <div class="flex items-center gap-x-2 mt-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81v8.37C2 19.83 4.17 22 7.81 22h8.37c3.64 0 5.81-2.17 5.81-5.81V7.81C22 4.17 19.83 2 16.19 2ZM12 15.88c-2.14 0-3.88-1.74-3.88-3.88 0-2.14 1.74-3.88 3.88-3.88 2.14 0 3.88 1.74 3.88 3.88 0 2.14-1.74 3.88-3.88 3.88Zm5.92-9c-.05.12-.12.23-.21.33-.1.09-.21.16-.33.21a.995.995 0 0 1-1.09-.21c-.09-.1-.16-.21-.21-.33A.995.995 0 0 1 16 6.5c0-.13.03-.26.08-.38.05-.13.12-.23.21-.33.23-.23.58-.34.9-.27.07.01.13.03.19.06.06.02.12.05.18.09.05.03.1.08.15.12.09.1.16.2.21.33.05.12.08.25.08.38s-.03.26-.08.38Z" fill="#ff8a65"></path>
        </svg>
        <a class="text-[#ff8a65]" href="https://www.instagram.com/fortuneholders/profilecard/?igsh=MWV4Mnh5ZjE2eTUyNg==" target="_blank" rel="noopener noreferrer">Check out Instagram Page</a>
      </div>

    </div>
  </div>
</footer>