<link rel="shortcut icon" href="../Images/logo.ico" type="image/x-ico" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../CSS/main.css">

<!-- Translator -->
<div class="gtranslate_wrapper"></div>
<script>
  window.gtranslateSettings = {
    default_language: "en",
    native_language_names: true,
    detect_browser_language: true,
    wrapper_selector: ".gtranslate_wrapper",
    flag_style: "3d",
  };
</script>
<script src="https://cdn.gtranslate.net/widgets/latest/float.js" defer></script>

<!-- Icon Script -->
<script defer src="https://unpkg.com/@phosphor-icons/web@2.1.1"></script>


<!-- Smartsupp Live Chat script -->
<script type="text/javascript">
  var _smartsupp = _smartsupp || {};
  _smartsupp.key = 'cf9c1f82c3e92ec6a19ecd4bdba89153ffa85cf2';
  window.smartsupp || (function(d) {
    var s, c, o = smartsupp = function() {
      o._.push(arguments)
    };
    o._ = [];
    s = d.getElementsByTagName('script')[0];
    c = d.createElement('script');
    c.type = 'text/javascript';
    c.charset = 'utf-8';
    c.async = true;
    c.src = 'https://www.smartsuppchat.com/loader.js?';
    s.parentNode.insertBefore(c, s);
  })(document);
</script>
<noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>

<!-- META TAGS-->
 <!-- Primary Meta Tags -->
<meta name="title" content="Fortune Holders" />
<meta name="description" content="Fortune Holders: Invest in a secure and rewarding cryptocurrency future with our Swiss-based platform." />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://fostercoin.ltd" />
<meta property="og:title" content="Fortune Holders" />
<meta property="og:description" content="Fortune Holders: Invest in a secure and rewarding cryptocurrency future with our Swiss-based platform." />
<meta property="og:image" content="https://res.cloudinary.com/dpmx02shl/image/upload/v1741383995/logo_rujohq.png" />

<!-- Twitter -->
<meta property="twitter:url" content="https://fostercoin.ltd" />
<meta property="twitter:title" content="Fortune Holders" />
<meta property="twitter:description" content="Fortune Holders: Invest in a secure and rewarding cryptocurrency future with our Swiss-based platform." />
<meta property="twitter:image" content="https://res.cloudinary.com/dpmx02shl/image/upload/v1741383995/logo_rujohq.png" />