@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', serif;
  font-optical-sizing: auto;
}

/* The Nav Bar For Small Screen */
.hamburger {
  cursor: pointer;
  width: 40px;
  height: 40px;
  transition: all 0.25s;
  position: relative;
  border-radius: 0.3rem;
}
.hamburger-top,
.hamburger-middle,
.hamburger-down {
  position: absolute;
  top: 10px;
  left: 8px;
  width: 25px;
  height: 3px;
  background-color: #145a32;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}
.hamburger-down {
  transform: translateY(14px);
}
.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}
.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}
.open .hamburger-middle {
  display: none;
}
.open .hamburger-down {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

/* Landing Page Testimonial */
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scroll {
  display: flex;
  animation: scroll 20s linear infinite;
}

/* Pause animation on hover */
.group:hover .animate-scroll {
  animation-play-state: paused;
}

/* For the Country Dropdown */
#country-select option {
  padding: 8px;
}

/* Style for selected option */
#country-select option:checked {
  background-color: #eee;
}

/* Frequently Asked Questions */
.collapsible {
  color: #0B3D02;
  cursor: pointer;
  padding: 18px;
  width: 90%;
  border-bottom: 2px solid grey;
  text-align: left;
  outline: none;
}

.collapsible.active {
  color: #145A32;
}

.collapsible:after {
  content: '\002B';
  color: black;
  font-weight: bolder;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '\2212';
  color: #145A32;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 90%;
  color: #515253;
}

/* Main-Page */
.main {
  width: calc(100% - 280px);
  float: right;
}
@media screen and (max-width: 1023px) {
  .main {
    width: 100%;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f4f6ff;
}

::-webkit-scrollbar-thumb {
  background: #145a32;
}

::-webkit-scrollbar-thumb:hover {
  background: #0b3d02;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #145a32 #f4f6ff;
}
